# Ignore everything by default
*

# Unignore this .gitignore file
!.gitignore

# Unignore core files
!requirements.txt
!main_gui_v2.py
!README.md

# Unignore entire resources folder
!resources/
!resources/**

# Unignore entire dist folder
!dist/
!dist/**

# Unignore entire Output folder
!Output/
!Output/**
